.input {
    margin-left: 10px;

    background-color: #00bfff;
    border: 1px solid Yellow;
    border-radius: 5px;

    font-family: 'Comfortaa';
}

.input:focus-visible {
    outline: 1px solid Yellow;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
