.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;
    margin-bottom: 15px;
    margin-top: 10px;

    background-color: #00bfff;
    border: 1px solid Yellow;
    border-radius: 5px;

    font-family: 'Comfortaa';
}

.input:focus-visible {
    outline: 1px solid Yellow;
}

.label {
    text-align: center;
}

.button {
    width: 80px;
    padding: 15px 15px;
    padding-left: 12px;
    border-radius: 10px;
    border: 1px solid Yellow;
    background-color: Yellow;
    font-family: 'Comfortaa';
}

.button:hover {
    cursor: pointer;
}
