.button {
    margin-left: 10px;
    padding: 3px 5px;

    border-radius: 5px;
    border: 1px solid yellow;
    background-color: yellow;
    font-family: 'Comfortaa';
}

.button:hover {
    cursor: pointer;
}

.listItems {
    display: inline-block;
    text-align: center;

    width: 400px;
    padding: 15px 15px;
    margin-bottom: 20px;

    border: 1px solid yellow;
    border-radius: 5px;
}

.listItems:not(:last-child) {
    margin-right: 20px;
}
