.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 12px 15px;
    background-color: #00bfff;
    /* border-bottom: 1px solid black; */
}

/* .header {

    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 12px 15px;
    background-color: #e699ff;
    border-bottom: 1px solid black;
}


.logoTitle {
    margin: 0;
}

.main {
    background-color: #e699ff;

    background-size: 100%;
    height: 770px;
    min-width: 1366px;
} */
